body {
margin: 0;
font-family: Arial;
background-color: rgb(243, 239, 239);

}


header {
background-color:rgb(44, 74, 107);
color: white;
padding: 1.5rem;
text-align: center;
box-shadow: 0 2px 5px rgba(0,0,0,0.2);
background: linear-gradient(to right,red, blue);

}
 

.osha {
padding: 1rem 1.5rem;
max-width: 900px;


}

h2 {
color: #340e46;
margin-top: 0;
}

h1 {
font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
section {
margin: 1rem;
padding: 1rem;
}
}

i {
    color: orange;
}

